<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style2.css"/>
    </head>
    <body>
        <small>Created on {{date}} by {{author}}</small>
        <h1>Name</h1>
        Tanya
        <h2>City</h2>
        London
        <h3>Favourite Food</h3>
        Eggs
    </body>
</html>